.hover--project-state {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 65%);
    color: white;
    transform: translateY(100%);
    border-top-right-radius: 3.125rem;
    border-top-left-radius: 3.125rem;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    padding-bottom: 7rem;
    transition: all 300ms ease;
}

.project--title {
    font-family: 'SoulMaze', sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.project--stack {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.project--stack ul {
    display: flex;
    list-style-type: disc;
    gap: 2rem;
    padding-left: 0.5rem;
    font-family: 'SoulMaze Outline', sans-serif;
}

.watch--demo-btn {
    border: none;
    font-family: 'SoulMaze', sans-serif;
    padding: .75rem 2.25rem;
    margin-top: 2.75rem;
    cursor: pointer;
}

.video--demo {
    position: fixed;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    background-color: rgb(0 0 0 / 45%);
    z-index: 10;
    top: 0;
    left: 0;

    transform: scale(0);
    transition: all 300ms ease;
}

.video--container {
    padding-block: 2rem;
    padding-inline: 3.75rem;
    background-color: black;
    border-radius: 1rem;
    display: flex;
    justify-content: end;
    box-shadow: 7px 7px 20px rgb(255 255 255 / 45%);
}

.close--modal-btn {
    color: black;
    border-radius: 50%;
    font-size: 2rem;
    width: 45px;
    height: 45px;
    cursor: pointer;
    transform: translate(6.5rem, -5rem);
    position: absolute;
    border: none;
    display: grid;
    place-content: center;
    background-color: rgb(255 255 255 / 80%);
    z-index: 5;
}

.close--modal-btn .video--modal-btn {
    position: absolute;
    height: 100%;
    width: 100%;
}

iframe {
    border: 2px solid white;
    border-radius: 3px;
}

.banner--duo .hover--project-state {
    gap: 0.25rem;
}

.banner--duo .project--stack {
    flex-direction: column;
    gap: 0.25rem;
}

.banner--duo .project--stack p {
    margin: 0;
}

.banner--duo .project--stack ul {
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    gap: 0.45rem;
    list-style-type: none;
}

.banner--duo .project--stack ul li {
    /* word-break: break-all; */
    white-space: nowrap;
    padding-inline: 0.25rem;
    width: max-content;
    text-align: center;
}

.banner--bg-img:hover .banner--duo .hover--project-state {
    transform: translateY(0);
}

.banner--bg-img .banner--duo .hover--project-state {
    transform: translateY(0);
}

@media screen and (min-width: 900px) {
    .video--demo iframe {
        width: 800px;
        height: 540px;
    }
}

@media screen and (max-width: 900px) {
    .project--title.v2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 767px) {
    .hover--project-state {
        transform: translateY(0);
        border-top-right-radius: 1.125rem;
        border-top-left-radius: 1.125rem;
        padding-bottom: 2rem;
    }

    .project--title {
        font-size: 1rem;
    }

    .project--stack {
        display: none;
    }

    .watch--demo-btn {
        margin-top: 0;
    }

    .video--container {
        width: 90%;
        margin: 0 auto;
        padding: 1.25rem;
    }

    .video--container iframe {
        width: 100%;
        height: 150px;
    }

    .close--modal-btn {
        transform: translate(2.5rem, -4.5rem);
    }
}

/* Trigger Hover */ 
.banner--bg-img:hover .hover--project-state {
    transform: translateY(5rem);
}